* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

img {
    padding: 0.5rem;
    max-width: 100%;
    height: 10vh;
    width: 25vw;
}

nav {
    z-index: 1;
    color: #fff;
    width: 100vw;
    height: 15vh;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background: #1e035e;
    position: fixed;
    top: 0;
    left: 0
}

.nav1 {
    color: #fff;
    width: 33vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2 {
    width: 34vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav3 {
    width: 33vw;
    height: 15vh;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista_1 {
    list-style-type: none;
    flex-direction: row;
    display: flex;
}

.iconolista1 {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.fa-solid {
    margin: 1rem;
}

#seccion_inicio {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.VideoFondo {
    position: static;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%) sepia(100%) blur(3px) invert(100%);

}

.CONTENIDO_INICIO {
    position: absolute;
    z-index: -1;
    color: #fff;
    background-color: #85838a3a;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_Inicio {
    font-weight: 200;
    font-size: x-large;
    margin-top: 5rem;
}

.CONTENIDO_SUP,
.CONTENIDO_INF {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CONTENIDO_SUP {
    flex-direction: column;
}

.CONTENIDO_INF {
    flex-direction: row;
}

.DIVISIONES_CONTENIDO {
    height: 25vh;
    width: 13vw;
    margin: 1rem;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

i {
    font-size: 3rem;    
}

.CONTENIDO_FUNCIONES {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.CONTENIDO_FUNCIONES_SUP,
.CONTENIDO_FUNCIONES_INF {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CONTENIDO_FUNCIONES_SUP {
    background-image: url(https://cdn.discordapp.com/attachments/838509061057806407/1303118572888920115/pexels-mart-production-7088483.jpg?ex=672a973e&is=672945be&hm=0f867dd307f5c667f48cda5a8b235076eeff1dfe2d58c7ff7a69fa784870883c&);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CONTENIDO_FUNCIONES_INF {
    background-color: #e1faf6;
}
.container {
    position: absolute;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.input_1 {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #1e035e;
    transition: all .7s ease;
}

::placeholder {
    color: grey;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #1e035e;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

.container:hover input {
width: 350px;
}

.container:hover i {
    transform: rotate(-360deg);
}

.btn:hover {
    background: #1e035e;
}

.CONTENIDO_INF1,
.CONTENIDO_INF2,
.CONTENIDO_INF3 {
    margin: 1rem;
    height: 35vh;
    width: 33.33rem;
    color: #000;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 11.11rem;
}

.mapaGoogle,
.columnaDatos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.columnaDatos {
    flex-direction: row;
}

.formulario,
.datosContacto {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.datosContacto {
    width: 40vw;
}

.formulario {
    width: 60vw;
}

#formulario_2 {
    height: 50vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lista_2 {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.li_titulo {
    color:  #3d07bb;
    font-size: 25px;
}

.li_texto {
    color: #000;
    font-size: 25px;
    margin-bottom: 20px;
    padding-left: 70px;
}


input#nombre, input#email {
    width: 19.9vw;
    height: 2rem;
}

input#asunto {
    margin-top: 1rem;
    width: 40vw;
    height: 3rem;
}

input#mensaje {
    margin-top: 1rem;
    width: 40vw;
    height: 5rem;
}

button {
    margin-top: 1rem;
    width: 40vw;
    border: none;
    background-color: #1e035e;
    color: #fff;
    padding: 1rem;
}

button:hover {
    background-color: #3d07bb;
}

#seccion_descargas {
    display: flex;
    justify-content: center;

}

.CONTENIDO_DESCARGAS {
    width: 100vw;
    height: 120vh;
}

.sup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/Recursos/Imagenes/elsanti.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
}

.tituloDescargas {
    font-weight: 800;
    font-size: 2rem;
    color: #fff;

}
.descargar {
    margin-top: 5rem;
}
.inf {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e035e;
}

.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    text-transform: uppercase;
    color: #fff;
}

p {
    color: #fff;
}
.btn-descarga {
    width: 80px;
    height: 80px;
    background: #044ebd;
    margin: 1rem;
    border-radius: 50px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #1e035e;
    transition: all 400ms ease-out;
}

.btn-descarga {
    transform: scale(1.1);
}
