@media screen and (max-width: 768px) {
    :root{
        --height-shape: 14em;
    }

    .hero__container {
        --padding-container: 60px 0;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .hero__img {
        order: -1;
        height: 95%;
    }

    .hero__title {
        font-size: 3.8rem;
    }

    /* About */

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
    }

    .about__course {
        width: 100%;
    }

    .about__picture {
        order: -1;
    }

    .about__img {
        width: 100%;
    }

    /* Card */

    .card__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 15px;
        grid-template-areas:
            "card1      ."
            "card1  card2"
            "card3  card2"
            "card3  card4"
            ".      card4";
    }

    /* Course */
    .course {
        grid-template-columns: repeat(6, 1fr);   
    }

    .course__about {
        grid-column: 1/6;
    }

    .course__about--left {
        grid-column:  2/-1;
    }

    .course__picture {
        grid-column: 2/-1;
    }

    .course__picture--right {
        grid-column: 1/6;
    }

    /* Footer */

    .footer__contact {
        grid-template-columns: 1fr;
    }

    .footer__texts {
        order: 1;
        --align-title: center;
    }

    .footer__social {
        justify-content: space-evenly;
    }


}

@media screen and (max-width: 500px) {
    :root {
        --padding-btn: 20px 0;
    }

    .hero__container  {
        --padding-container:45px 0;
    }

    .hero__texts {
        text-align: center;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__cta {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .title {
        font-size: 2rem;
    }

    .cta {
        display: block;
    }

    /* Instructor */

    .section1 {
        --padding-container: 60px 0;
    }

    .section1__container {
        width: 90%;
    }

    /* About*/

    .about {
        gap: 40px;
    }

    .about__course {
        width: 100%;
    }

    /* Card */

    .card__container {
        width: 97%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4";
    }

    /* Course */

    .course {
        grid-template-columns: 1fr;
        --padding-container:80px 0 30px;
    }

    .course--modifier {
        --padding-container:0 0 80px;
    }

    .course__about {
        padding: 20px 20px;
        width: 95%;
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .course__picture {
        display: none;
    }

    .footer__link {
        padding: 0 5rem;
    }
}
